@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "KHドット小伝馬町16";
    src: url("./assets/fonts/KH-Dot-Kodenmachou-16.woff") format("woff");
  }

  @font-face {
    font-family: "KHドット小伝馬町12";
    src: url("./assets/fonts/KH-Dot-Kodenmachou-12.woff") format("woff");
  }

  html {
    font-family: "KHドット小伝馬町16", system-ui, sans-serif;
    background-color: #070016;
    color: #E7E7E7;
    line-height: 1;
  }

  input, select {
    color: #070016;
  }

  button {
    font-family: inherit;
  }
}
